* {
  box-sizing: border-box;
  font-family: Georgia, serif;
  color: #ffffff;
}

body {
  background-color: #000000;
}

#root {
  max-width: 800px;
  text-align: center;
  margin: auto;
  background-color: #282923;
  min-height: 100vh;
  padding-top: 2%;
}
